.main-nav {
    font-size: 14px;
    margin: 70px 155px 0 155px;
}

.main-nav-list {
    display: flex;
    justify-content: center;
}

.main-nav-item {
    margin-right: 80px;
    text-transform: uppercase;
}

.main-nav-item:last-child {
    margin-right: 0px;
}

.main-nav-link {
    display: flex;
    padding: 10px;
}

.main-nav-link-active {
    color: var(--link-active);
}