.contant {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 30px;
}

.contant-block {
    max-width: 420px;
    margin-top: 100px;
}

.contant-subtitle {
    margin-top: 30px;
    color: var(--text-subtitle);
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}   

.contant-title {
    font-size: 30px;
    font-weight: 400;
    margin-top: 30px;
}

.contant-description {
    font-size: 14px;
    line-height: 24px;
    margin-top: 30px;
}

.load-more {
    display: block;
    width: 165px;
    height: 60px;
    border: 1px solid var(--border);
    margin: auto;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 70px
}